---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import CaptionedImage from "../../components/CaptionedImage.astro";
import { fuzzyFind } from "./utils";
import CaptionedImageGallery from "../../components/CaptionedImageGallery.astro";

const images = Object.entries(
    import.meta.glob<{ default: ImageMetadata }>(
        "/src/assets/assgn4/experiment8/*.{jpeg,jpg,png,gif}",
    ),
).filter(([path]) => {
    const filterCritera = /300/;
    return filterCritera.test(path);
});
---

<div class="not-prose grid grid-rows-2 grid-cols-2">
    <div>
        <CaptionedImage
            src={fuzzyFind(images, "poisson_blend2")()}
            caption="Poisson blended plane with Starry Night"
        />
    </div>
    <div>
        <CaptionedImage
            src={fuzzyFind(images, "poisson_blending")()}
            caption="Poisson blend of the country side with Starry Night"
        />
    </div>
    <div>
        <CaptionedImage
            src={fuzzyFind(images, "wassertein_sample-006400_frida_kahlo")()}
            caption="Cats generated with wassertein loss with Frida Kahlo style"
        />
    </div>
    <div>
        <CaptionedImage
            src={fuzzyFind(images, "006400_starry_night")()}
            caption="Cats generated with wassertein loss with Starry Night style"
        />
    </div>
</div>
