---
// Import your components here
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import TableOfContents from "../components/TableOfContents.astro";
import Footer from "../components/Footer.astro";
import Bear from "../assets/assgn2/bear.png";

// export async function getStaticPaths() {
//   const blogEntries = await getCollection("posts");
//   return blogEntries.map((entry) => ({
//     params: { slug: entry.slug },
//     props: { entry },
//   }));
// }

// Set post here based on file name
const entry = await getEntry("posts", "assgn2");
const { Content, headings, remarkPluginFrontmatter } = await entry.render();
---

<Layout title={`Assignment ${remarkPluginFrontmatter?.assignment}`}>
  <main class="flex flex-col items-center mb-8">
    <div class="flex justify-center p-10">
      <h1
        class="font-bold text-center text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl"
      >
        {remarkPluginFrontmatter?.title}
      </h1>
    </div>
    <Prose class="w-full max-w-4xl mx-auto">
      <Image src={Bear} alt="" class="mb-0" />
      <TableOfContents headings={headings} />
      <Content />
    </Prose>
  </main>
  <Footer />
</Layout>

<style>
  .prose figcaption p {
    @apply text-center;
  }
</style>
