---
// Import your components here
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

// export async function getStaticPaths() {
//   const blogEntries = await getCollection("posts");
//   return blogEntries.map((entry) => ({
//     params: { slug: entry.slug },
//     props: { entry },
//   }));
// }

// Set post here based on file name
const entry = await getEntry("posts", "lorem_ipsum");
const { Content } = await entry.render();
---

<Layout title="Temporary Titel">
  <main>
    <Prose>
      <Content />
    </Prose>
  </main>
</Layout>
