---
// Import your components here
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

// export async function getStaticPaths() {
//   const blogEntries = await getCollection("posts");
//   return blogEntries.map((entry) => ({
//     params: { slug: entry.slug },
//     props: { entry },
//   }));
// }

// Set post here based on file name
const entry = await getEntry("posts", "lorem_ipsum");
const { Content } = await entry.render();
---

<Layout title="Assignment 0">
  <main class="flex flex-col items-center">
    <h1 class="text-5xl font-bold my-8">Assignment 0</h1>
    <Prose class="w-full max-w-4xl mx-auto">
      <Content />
    </Prose>
  </main>
</Layout>
