---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li class="mt-2">
  <a href={"#" + heading.slug} class="text-slate-800 hover:text-slate-500">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="list-none pl-4">
        {heading.subheadings.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
